/.*LetsEncrypt.*/{
		N
		/<crt>.*<\/crt>/{
		s//<crt>CRTPLACEHOLDER<\/crt>/
                }
                N
                /<prv>.*<\/prv>/{
                s//<prv>KEYPLACEHOLDER<\/prv>/
                P
                D
                }

}
